.nested-fields
  .row-fluid
    = f.text_area :body, label: false, class: 'note-body span12'
  .row-fluid
    = link_to_remove_association f, data: { confirm: 'Are you sure? This action cannot be undone' } do
      %button.btn
        %i.icon-trash
    %hr
    = f.error :body, class: 'alert alert-error'
