- unless f.object.image.present?
  .nested-fields
    .row-fluid
      .span6
        = f.file_field :image, label: false, class: 'note-body span12'
      .span6
        = link_to_remove_association f do
          %button.btn
            %i.icon-trash

        = f.error :body, class: 'alert alert-error'
