-# MODAL
.modal.hide#webcamModal
  .modal-header
    .row-fluid
      -# EDIT CAM SETTINGS
      %button.btn#js-webcam-configure(onclick='webcam.configure();')
        %i.icon-cog
      %button.close.pull-right(data-dismiss='modal') &times;
  .modal-body
    -# CAM WRAPPER
    #webcam
  .modal-footer
    -# CONTROLS
    .row-fluid.webcam-controls

      %button.btn.btn-danger#js-snap(onclick='webcam.snap();')
        %i.icon-camera.icon-white

      %button.btn#js-webcam-reset(onclick='webcam.reset();')
        %i.icon-refresh

      %button.btn.btn-primary#js-save-photo
        save
        %i.icon-ok.icon-white
