#guests-index
  = render 'tabs'

  .row-fluid
    %table.table
      %thead
        %th name
        %th
          approved lists/invitations

      %tbody#guests
        = render 'guests'

  = will_paginate @guests, renderer: BootstrapPagination::Rails


= content_for :javascript do
  :coffeescript
    jQuery ->
      $('.collapsed-fields').collapse()
