-# TODO use rails helper to generate form for post to create action
#guest-list-form
  = form_tag(guest_lists_path, method: :post) do

    %div
      1
      %i.icon-calendar.icon-large
      %span.lead select the date
    %div.row-fluid
      %input#datepicker(name='guest_list[date]' type='text' autocomplete='off'){ value: Date.today }

    %div.row-fluid
      2
      %i.icon-user.icon-large
      %span.lead lookup & add guests
      %span.pull-right
        guest not found?
        %a#guest-modal-trigger.zoom-cursor(href='#guest-qcfw' data-toggle='modal')
          create new guest
          %i.icon-star
    = tag('div', id: 'saved_selections', data: { entries: @saved_selections })
    %input.guest-lookup(autocomplete='off' type='text'
      name='q'){ id: 'index-guest-list-select' }

    %small
      %p
        %span.label.label-info creating a list for yourself?
        If this is your list, enter your name first. Then, enter the names of your
        guests on subsequent lines.

    .form-actions
      %button.btn.btn-block.btn-primary.btn-large
        3. create new guest list

#guest-qcfw.modal.hide
  .modal-header
    %button.pull-right.btn(data-dismiss='modal')
      %i.icon-remove
    %h3
      create a guest
  .modal-body
    = simple_form_for Guest.new, class: 'form form-horizontal', remote: true, format: :json do |f|
      = render 'guests/form_fields', f: f
      %button.guest-form-submit.btn.btn-primary{ data: { :'loading-text' => 'creating guest. please wait...' } }
        create new guest
  .modal-footer
    %small
      first name, last name, and gender are <em>all</em> required

  :coffeescript
    jQuery ->
      new window.VIP.GuestListForm
        $tokenInput: $('#index-guest-list-select')
        $modal: $('#guest-qcfw')
        $guestForm: $('#new_guest')
        savedSelections: $('#saved_selections').data('entries')
        $datepicker: $('#datepicker')

