.row-fluid
  .page-header
    %h2
      my name
      <br>
      %small simple
  = simple_form_for(@user,
    :url => registration_path(@user),
    :html => { class: 'form-inline', :method => :put }) do |f|
    = f.input :full_name
    = f.input :current_password, :required => true
    %button.btn
      update my name
