.date-hint-popover
  %p you can enter dates in plain english!
  %p i'll figure out what you're trying to say and save it as a valid date
  <br>

  %h3 Simple
  <br>
  %p thursday
  %p november
  %p summer
  %p friday 13:00
  %p mon 2:35
  %p 4pm
  %p 6 in the morning
  %p friday 1pm
  %p sat 7 in the evening
  %p yesterday
  %p today
  %p tomorrow
  %p this tuesday
  %p next month
  %p last winter
  %p this morning
  %p last night
  %p this second
  %p yesterday at 4:00
  %p last friday at 20:00
  %p last week tuesday
  %p tomorrow at 6:45pm
  %p afternoon yesterday
  %p thursday last week
  <br>

  %h3 Complex
  <br>
  %p 3 years ago
  %p a year ago
  %p 5 months before now
  %p 7 hours ago
  %p 7 days from now
  %p 1 week hence
  %p in 3 hours
  %p 1 year ago tomorrow
  %p 3 months ago saturday at 5:00 pm
  %p 7 hours before tomorrow at noon
  %p 3rd wednesday in november
  %p 3rd month next year
  %p 3rd thursday this september
  %p 4th day last week
  %p fourteenth of june 2010 at eleven o'clock in the evening
  %p may seventh '97 at three in the morning
  <br>

  %h3 Specific Dates
  <br>
  %p January 5
  %p 22nd of june
  %p 5th may 2017
  %p February twenty first
  %p dec 25
  %p may 27th
  %p October 2006
  %p oct 06
  %p jan 3 2010
  %p february 14, 2004
  %p february 14th, 2004
  %p 3 jan 2000
  %p 17 april 85
  %p 5/27/1979
  %p 27/5/1979
  %p 05/06
  %p 1979-05-27
  %p Friday
  %p 5
  %p 4:00
  %p 17:00
  %p 0800
  <br>

  %h3 Specific Times (many of the above with an added time)
  <br>
  %p January 5 at 7pm
  %p 22nd of june at 8am
  %p 1979-05-27 05:00:00



