- if can?(:read, GuestList) || can?(:read, Guest)
  .global-nav-tabs
    %ul.nav.nav-tabs.centered
      - if can?(:read, Guest)
        %li{ active_if_controller(:guests) }
          = link_to guests_path do
            .tab-icon
              %i.icon-group
            .tab-text
              guests

      - if can?(:read, GuestList)
        %li{ active_if_controller(:guest_lists) }
          = link_to guest_lists_path do
            .tab-icon
              %i.icon-list-ul
            .tab-text
              lists

      - if can?(:manage, Reservation)
        %li{ active_if_controller(:reservations) }
          = link_to reservations_path do
            .tab-icon
              %i.icon-book
            .tab-text
              reservations
