= link_to new_guestlist_path do
  %button.btn.btn-primary
    new guest list




%table.table.table-condensed
  %caption
    %h1 guest lists
  %thead
    %th
    %th
    %th

  %tbody
    - @guestlists.each do |guestlist|
      %tr
        %td
          = link_to 'Show', guestlist, class: 'btn'
          = link_to 'Edit', edit_guestlist_path(guestlist),  class: 'btn'
          = link_to 'Destroy', guestlist, class: 'btn btn-danger', 
            :confirm => 'Are you sure?', :method => :delete


