= simple_form_for(@committee) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.association :users, as: :check_boxes

  .form-actions
    %button.btn.btn-primary
      create committee
