= link_to new_committee_path do
  %button.btn.btn-primary
    create new committee

%table.table.table-condensed
  %caption
    %h1 all committees
  %thead
    %th
    %th
    %th

  %tbody
    - @committees.each do |committee|
      %tr
        %td
          = link_to 'Show', committee, class: 'btn'
          = link_to 'Edit', edit_committee_path(committee), class: 'btn'
          = link_to 'Destroy', committee, class: 'btn btn-danger',
             :confirm => 'Are you sure?', :method => :delete


