= render 'tabs', table: nil

.row-fluid
  .span12
    .row-fluid
      .date-controls
        .pull-left
          = link_to date_tables_path(date: @date.prev_day), class: 'btn' do
            &larr;
            previous day
        .pull-right
          = link_to date_tables_path(date: @date.next_day), class: 'btn' do
            next day
            &rarr;

        .centered
          %form.form-search
            %a.btn{ href: date_tables_path(date: Nightclub.today) }
              today
            %input.search-query(type='text' name='date'){ placeholder: @date.try(:strftime, '%A %e %B') }
    .row-fluid
      = render 'tables', tables: @tables, date: @date
