= render 'tabs', table: nil

.row-fluid
  .span9
    = render 'tables', tables: @tables, date: nil

  .span3
    %span.label.label-info
      naming scheme
    %div
      0XX
      &rarr;
      VIP
    %div
      1XX
      &rarr;
      General
    %span.label.label-info
      reserving a table
    %div
      select
      %i.icon-plus
      %i.icon-book
      to create a new reservation for this table
