.row-fluid
  .span6
    .hero-unit
      .page-header
        %h1
          久仰
        .lead
          禅
  .span6
    .hero-unit
      .page-header
        %h1
          welcome
        .lead
          to zen


