@import 'twitter/bootstrap/variables';

#content-container {
  background: @white;
  padding: 20px;
}

#body-container {
  ul.nav.nav-tabs.centered {
    margin-left: -1px;
    margin-bottom: 1px;
    border-bottom: 0;
  }
}

body {
  background: image-url('background.png');
  padding: 0;
}

#global-alert {
    text-align: center;
}

.date-hint-popover {
    height: 300px;
    overflow: auto;
    position: relative;
}

.centered { text-align: center; }

#footer {
  color: @grayLight;
  margin-bottom: 100px;
}

.zoom-cursor {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

