@import 'twitter/bootstrap/variables';

#body-container {
  padding-top: 20px;
}

body {
  background: image-url('background.png');
}

#global-alert {
    text-align: center;
}

.date-hint-popover {
    height: 300px;
    overflow: auto;
    position: relative;
}

.centered { text-align: center; }

#footer {
  color: @grayLight;
  margin-bottom: 100px;
}

.zoom-cursor {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
