@import 'twitter/bootstrap/mixins';
@import 'twitter/bootstrap/variables';

#new-guest-button {
    margin-bottom: 15px;
}

#webcamModal {
    .modal-body, .modal-footer {
        // webcam viewport and controls
        text-align: center;
    }
}

.form-inputs {
    .avatar {
        // preview in thumbnail on guest form
        text-align: center;
    }
    .btn {
        // space between photo preview and button
        margin-top: 5px;
    }
    .note-body {
        height: 56px;
        margin-bottom: 5px;
    }
    margin-bottom: 20px;
}
.submit {
    .navbar-fixed-bottom {
        height: 60px;
        font-size: 18px;
    }
}

.table tbody tr:hover td,
.table tbody tr:hover th {
    background-color: inherit;
}

#guests-index {

  .guest-name {
    padding-left: 5px;
    font-weight: bold;
  }

  .lists-and-invitations {
    vertical-align: middle;
  }

  table {

    th {
      text-align: left;
    }

    .thumbnail {
      float: left;
    }

    tr {
      border-bottom: 1px solid gray;
      vertical-align: top;
      td {
        padding-right: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

#extra-fields {
  padding-top: 10px;
}
#extra-fields.in {
  overflow: inherit;
}

