#webcamModal {
    .modal-body, .modal-footer {
        // webcam viewport and controls
        text-align: center;
    }
}

.form-inputs {
    .avatar {
        // preview in thumbnail on guest form
        text-align: center;
    }
    .btn {
        // space between photo preview and button
        margin-top: 5px;
    }
    .note-body {
        height: 56px;
        margin-bottom: 5px;
    }
    margin-bottom: 20px;
}
.submit {
    .navbar-fixed-bottom {
        height: 60px;
        font-size: 18px;
    }
}

.table tbody tr:hover td,
.table tbody tr:hover th {
    background-color: inherit;
}

#guest-index-results {
    .results-header {
        text-align: center;
    }
    .guest-wrapper {
        padding-bottom: 5px;
    }
}

