- if user_signed_in?
  %a.brand{ href: root_path }
    %span.visible-phone
      zen
      %sup &#945;
    %span.hidden-phone
      zen operations
      %sup &#945;
  %ul.nav
    %li.divider-vertical
    %form.navbar-search.pull-left{ action: guests_path }
      %input.search-query.span3(type='text' name='q' autocorrect='off'
        autofocus='true'
        placeholder='lookup guest or list')

  %ul.nav.pull-right
    %li.dropdown
      %a.dropdown-toggle#dLabel(role="button" data-toggle="dropdown" data-target="#" href='#')
        %i.icon-cog
        <b class="caret"></b>
      %ul.dropdown-menu(role='menu' aria-labelledby="dLabel")
        %li
          = link_to edit_user_registration_path do
            %i.icon-lock
            change email address or password
        %li.divider
        %li
          -# currently works by way of get due to bootstrap bug
          = link_to destroy_user_session_path, method: :delete do
            %i.icon-signout
            log out
