.navbar.navbar-fixed-top
  .navbar-inner
    .container

      %a.brand
        -# bring peace and justice to country
        抚绥

      %ul.nav.pull-right
        %li
          %a(href='/placeholder')
            %i.icon-user.icon-white
            placeholder
        %li.divider-vertical
        %li
          %a(href='/')
            %i.icon-home.icon-white
