!!! 5
%html
  = render partial: 'layouts/head'

  %body.page_classes
    = render partial: 'layouts/nav'

    .container
      .row-fluid
        .span12
          = render 'layouts/alert'
          = yield


